<!DOCTYPE html>
<html onmouseup="mouseUp()">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="../static/js/imposter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <title>IMPOSTER</title>
    <script>
      var word = {{ word | tojson }};
      const socket = io();
      var inputLog ="";
      var turnN = 0;
      const player = "{{ playerN }}";
      const user = "{{ username }}";
      const playerM = "{{ playerM }}";

      window.addEventListener('beforeunload', (event) => {
          event.preventDefault();
          event.returnValue = '';
      });

      if (player == "1"){
        socket.emit("joinGame", {{ g_id }});
      };
      socket.emit("join_server", {{ g_id }});

      socket.on('turn', function(turn){
        turnN = String(turn)
        var submit = document.getElementById('bleh');
        var html = `<div class="container mx-auto d-flex justify-content-center" style="width: 200px;">
      <input id="input" type="text" name="hint" required>
      <button onclick="input()" class="btn btn-primary" type="submit" name="submit_hint" id="submit_hint"> Submit </button>
    </div>`;
        if (player == turn){
          submit.innerHTML = html;
        } else{
          submit.innerHTML = "";
        }
      });

      socket.on('input', function(input){
        document.getElementById('bleh').innerHTML = "";
        inputLog = input
        var temp = inputLog.split("\\")
        var list = document.getElementById('clues');
        list.innerHTML = temp.map(item => `<li>${item}</li>`).join('');
      });

      function input(){
        console.log("asd")
        var temp = document.getElementById('input').value;
        temp = temp.replaceAll("\\", "");
        temp = temp.slice(0, 21);
        inputLog = inputLog.concat(user);
        inputLog = inputLog.concat(": ");
        inputLog = inputLog.concat(temp);
        inputLog = inputLog.concat("\\");
        
        socket.emit("input", {{ g_id }}, String(inputLog));
        var current = parseInt("{{ playerN }}", 10)
        if (player == playerM){
          current = 1
        } else{
          current = current + 1
        }
        socket.emit("turn", {{ g_id }}, String(current))
      };

      </script>
    <div onmousedown="mouseDown(word)" class="card" style="width: 18rem; margin-right: auto; margin-left: auto; margin-bottom: 40px">
      <div class="card-body">
        <h5 class="card-title">Category: {{ category }}</h5>
        <p id="role" class="card-text"></p>
      </div>
    </div>
  </head>
  <body>
    <div style="display: flex;">
      <div class="card" style="width: 18rem; margin-right: 80px;">
        <div class="card" style="width: 18rem;">
          <div class="card-header" style="list-style-type: none; text-align: center;">
            Hint Log
          </div>
          <ul id="clues" class="list-group list-group-flush" style="margin: auto;"></ul>
        </div>
      </div>
      <div id="bleh"></div>
      <script>
      if (player == "{{ playerF }}"){
        console.log("skibidi");
        document.getElementById('bleh').innerHTML = `<div class="container mx-auto d-flex justify-content-center" style="width: 200px;">
        <input id="input" type="text" name="hint" required>
        <button onclick="input()" class="btn btn-primary" type="submit" name="submit_hint" id="submit_hint"> Submit </button>
      </div>`;
      };</script>
    </div>
  </body>

</html>
