<!DOCTYPE html>
<html onmouseup="mouseUp()">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="../static/js/imposter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <title>IMPOSTER</title>
    <script>
      var word = {{ word | tojson }};
      const socket = io();
      var inputLog = "";
      var turnN = 0;
      var player = {{ playerN }};
      console.log({{ host }});
      if ("{{ host }}" == "True"){
        socket.emit("joinGame", {{ g_id }});
      }
      socket.emit("join_server", {{ g_id }});

      socket.on('reload', () => {
        window.location.reload();
      });

      socket.on('turn', function(turn) => {
        turnN = turn
        var submit = document.getElementById('bleh');
        var html = '''<div class="container mx-auto d-flex justify-content-center" style="width: 200px;">
      <input id="input" type="text" name="hint" required>
      <button onclick="input()" class="btn btn-primary" type="submit" name="submit_hint" id="submit_hint"> Submit </button>
    </div>''';
        if (player == turn){
          submit.innerHTML = html;
        }
      });

      function reload(){
        window.history.replaceState(null, null, window.location.href);
        socket.emit("reload", {{ g_id }});
      };

      function input(){
        inputLog.concat(document.getElementById('input').text);
      };

      </script>
    <div onmousedown="mouseDown(word)" class="card" style="width: 18rem; margin: auto">
      <div class="card-body">
        <h5 class="card-title">Category: {{ category }}</h5>
        <p id="role" class="card-text"></p>
      </div>
    </div>
  </head>
  <body>
    <div class="card" style="width: 18rem;">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          Hint Log
        </div>
        <ul class="list-group list-group-flush">
          {%for i in range(0, lenInputs)%}
            <li class="list-group-item">{{ inputs[i] }}</li>
          {%endfor%}
        </ul>
      </div>
    </div>
    <div id="bleh"></div>
  </body>

</html>
