<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LOGIN</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <p>{{ error|safe }}</p>
    <form method='POST' action="/login">
      <p>
        USERNAME:
      </p>
      <input type="text" name="username" required>
      <br>
      <p> PASSWORD: </p>
      <input type="password" name="password" required>
      <br><br>
      <input type="submit" name="sub1" class="sub1" value="Submit">
    </form>

    <br>
    
    <button onclick="location.href='/register'" id="register">Register</button>
  </body>
</html>
